/.next
/node_modules
/pnpm-lock.yaml
somnia/artifacts
somnia/cache
somnia/deployments
somnia/typechain-types
somnia/node_modules
backend/**/node_modules
backend/**/.env.local
backend/agents/node_modules
backend/agents/.env.local
backend/storage/node_modules
backend/storage/.env.local
backend/storage/dist
backend/agents/dist
/.env.local
