/.next
/node_modules
/pnpm-lock.yaml
somnia/artifacts
somnia/cache
somnia/deployments
somnia/typechain-types
somnia/node_modules
somnia/artifacts
flow/evm/artifacts
flow/evm/cache
flow/evm/typechain-types
flow/evm/node_modules
flow/evm/.env.local
flow/evm/dist
flow/evm/build
flow/evm/coverage
flow/evm/test
flow/evm/test-results
flow/evm/test-coverage
backend/**/node_modules
backend/**/.env.local
backend/agents/node_modules
backend/agents/.env.local
backend/storage/node_modules
backend/storage/.env.local
backend/storage/dist
backend/agents/dist
/.env.local
